<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908980037951-dpcd6n2i2cvor722122otvivpbdvt0sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908980037951-dpcd6n2i2cvor722122otvivpbdvt0sr</string>
	<key>API_KEY</key>
	<string>AIzaSyDfz-fzV5fDhahISb5_-IpNNS2VxsD51yI</string>
	<key>GCM_SENDER_ID</key>
	<string>908980037951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Juhyeoklee.SmokeWay</string>
	<key>PROJECT_ID</key>
	<string>smokeway-e0324</string>
	<key>STORAGE_BUCKET</key>
	<string>smokeway-e0324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908980037951:ios:5f40a4efb473745c5b4b8a</string>
</dict>
</plist>